/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {

    /*========== COLORS ==========*/
    --main-color: #02897A;
    --gradient-color: linear-gradient(
                         #EDEDED 100%,
                         #FFFFFF 0.01);
    --title-color: #22343D;
    --text-color: #22343D;
    --white-color: #fff;
    --body-color: #ededed;

    /*========== Font and typography ==========*/
    /*0.5rem = 8px | 1rem = 16px*/
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Lora', serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Z-index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

}

/*=============== Responsive typography ===============*/
/* @media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1.1rem;
        --small-font-size: 0.9rem;
    }
} */

/*=============== BASE ===============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: var(--normal-font-size);
}

.container {
    width: 100%;
    height: 100%;
}


/*=============== REUSABLE CSS CLASSES ===============*/
section {
    padding: 5rem 8%;
}

.btn {
    background: var(--main-color);
    color: var(--white-color);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight:var(--font-semi-bold);
}

.transparent {
    border: 1px solid var(--main-color);
    background: var(--white-color);
    color: var(--main-color);
}

header {
    padding: 0 8%;
    background: var(--body-color);
    border-bottom-left-radius: 32%;
    border-bottom-right-radius: 32%;
}

footer {
    padding: 3rem 8% 1rem 8%;
}

.title {
    color: var(--title-color);
    font-size: 2rem;
    text-align: center;
}

.dark .title {
    color: var(--white-color);
}
/*=============== HEADER & NAV ===============*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.light .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: var(--title-color);
}

.dark .logo {
    color: var(--white-color);
}


.nav__lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav__lists ul {
    display: flex;
    gap: 2rem;
}

.nav__lists ul li a {
    color: var(--text-color);
    font-size:var(--small-font-size);
}

.dark ul li a {
    color: var(--white-color);
}


.toggle {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background: #d3d3d3;
    position: relative;
    transition: all 0.5s;
}

.toggle i {
    font-size: 1rem;
    width: 50%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    z-index: var(--z-tooltip);
}

.toggle .ball {
    position: absolute;
    left: 3px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.5s;
}

.checkbox {
    display: none;
}

/* Light mode */
.light {
    background:#fafafa;
}

.light .toggle {
    background: linear-gradient(145deg, #e1e1e1,#fff);
    box-shadow: inset 0 0 4px #132739;
}


.light .toggle .fa-sun {
    color:#fafafa;  
    transition: all 0.5s;
}

.light .toggle .fa-moon {
    color: #151d2a;
}

.light .toggle .ball {
    background:#151d2a;
}

/* dark mode */


.dark {
    background: rgb(31,46,53);
    color: var(--white-color);
}

.dark header {
    background: linear-gradient(#22343D 100%, #43434300 0.01%);
}

.dark .toggle {
    background: rgb(31,46,53);
    box-shadow: inset 0 0 4px #e6e6e6;
   
}

.dark .toggle .fa-sun {
    color:#fafafa
}

.dark .toggle .fa-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background:#fafafa;
    transform: translateX(30px);
}
/*===============  Hero SECTIONS ===============*/

.hero__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 ;
}

.hero__text {
    flex: 0.8;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.hero__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero__text h1 {
    font-size: var(--biggest-font-size);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

.buttons a {
    color: var(--main-color);
}

.buttons a i {
    margin-right: 5px;
}

/*===============  Hero SECTIONS ===============*/

.hero__product {
    padding: 5rem 0 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__product-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.product {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.product i {
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
    background: var(--main-color);
    color: var(--white-color);
}

.product:nth-child(2) i {
    background: #4D8DFF;
}

.product:nth-child(3) i {
    background: #740A76;
}

.product:nth-child(4) i {
    background: #F03E3D;
}

.hero__product .btn {
    margin-top: 3rem;
}


/*===============  Xoshimjonov O SECTIONS ===============*/

.manegmant{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.manegmant-text >p{
        color: #22343D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
   .manegmant-text > h2{
        color: #22343D;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }


.manegmant__title{
    margin-top: 40px;
}
  .manegmant__title  >h5{
        color: #22343D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 162.5% */
margin-bottom: 20px;
}
  .manegmant__title  > p{
        width: 400px;
        color: #22343D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
 }

.title1{
    margin-top: 100px;
}

.dark .manegmant-text > p{
        color: #fff;
}
   .dark .manegmant-text >h2{
        color: #fff;
    }
   .dark .manegmant__title>p{
            color: #fff;
        }
        .dark .manegmant__title > h5{
            color: #fff;
        }
    











/*===============  Rustam SECTIONS ===============*/

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 94px;
}

.card_2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.card_2-title{
    width: 490px;
}

.card_2-title h2{
    font-size: 32px;
    color: var(--title-color);
}

.card_2-title.up{
    font-weight: var(--font-semi-bold);
}

.card_2-icon{
    display: flex;
    gap: 30px;
    align-items: center;
}

.dark .card_2-title h2 {
    color: var(--white-color);
}



/*===============  Kamronbek SECTIONS ===============*/







/*===============  Xon SECTIONS ===============*/

.qep{
    text-align: center;
    padding: 0;
    margin-top: 0;
}

.border-radius{
    position: relative;
    top: 300px;
    right: 200px;
    width: 1800px;
    height: 400px;
    background: linear-gradient(#EDEDED, #FAFAFA);
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    z-index: -10;
}

.dark .border-radius{
    background: linear-gradient(#22343D, #1F2E35);
}

.qep_title{
    color: var(--title-color);
}

.qep_head-subtitle{
    width: 542px;
    transform: translateX(400px);
}

.qep_body{
    transform: translateX(150px);
    padding: 50px;
    padding-top: 100px;
}

.qep_body-box{
    display: flex;
}

.qep_body-content{
    display: flex;
    width: 50%;
    margin-bottom: 40px;
}

.qep_body-content_img{
    width: 98px;
    height: 98px;
}

.qep_body-content_info-box{
    transform: translateY(15px);
    display: inline-block;
    height: 40px;
    width: 260px;
    background: var(--white-color);
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    -webkit-box-shadow: -4px 14px 53px 11px rgba(34, 60, 80, 0.13);
-moz-box-shadow: -4px 14px 53px 11px rgba(34, 60, 80, 0.13);
box-shadow: -4px 14px 53px 11px rgba(34, 60, 80, 0.13);
}

.qep_body-content_info-text{
    width: 245px;
    height: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 10px;
    transform: translateY(5px);

}

.qep_body-content_button{
    transform: translateX(30vw);
}

.chat-simvol-left{
    background: var(--white-color);
    width: 20px;
    height: 20px;
    z-index: 1000;
    position: absolute;
    border-radius: 50%;
    top: 27px;
    left: 25px;
}

.chat-simvol-right{
    background: var(--white-color);
    width: 20px;
    height: 20px;
    z-index: 1000;
    position: absolute;
    border-radius: 50%;
    top: 27px;
    left: 200px;
}

.chat-small-simvol-right{
    background: var(--white-color);
    width: 15px;
    height: 15px;
    z-index: 1000;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 220px;
}

.chat-small-simvol-left{
    background: var(--white-color);
    width: 15px;
    height: 15px;
    z-index: 1000;
    position: absolute;
    border-radius: 50%;
    top: 50px;
    left: 5px;
}

.dark .qep_body-content_info-box,
.dark .chat-simvol-left,
.dark .chat-small-simvol-left,
.dark .chat-small-simvol-right,
.dark .chat-simvol-right{
    color: #1F2E35;
}

.dark .qep_body-content_info-box,
.dark .chat-small-simvol-left,
.dark {
    -webkit-box-shadow: 13px 30px 26px 11px rgba(187, 202, 214, 0.22);
    -moz-box-shadow: 13px 30px 26px 11px rgba(187, 202, 214, 0.22);
    box-shadow: 13px 30px 26px 11px rgba(187, 202, 214, 0.22);
}



/*===============  Akmal SECTIONS ===============*/

.strategies-text{
   text-align: left;
}

.strategies-text .title {
    text-align: left;
}
.strategies-cate{
    margin-top: 3%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.strategies-list{
    width: 33%;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 3px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.strategies-list div {
    padding: 1.5rem;
}

.strategies-list img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
}

.circle{
    width:6%;
    height: 20px;
    margin-top: 2%;
    margin-left: 47%;
}





/*===============  MIKE SECTIONS ===============*/





/*===============   ?  SECTIONS ===============*/



/*===============  Abduaziz SECTIONS ===============*/








/*===============  Xurshid FOOTER ===============*/
.footer{
    padding: 5rem 8%;
}

.socials{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 33px;
    margin-left: 10px;
}
.footer-top{
    display: flex;
   justify-content: space-between;
}
.footer-top-right{
    display: flex;
    justify-content: space-between;
}
.footer-list{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.footer-list-item{
    font-size: var(--small-font-size);
    font-family: var(--body-font);
}
.input{
    margin-top: 30px;
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    outline: none;
    font-size: 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

.footer-bottom{
    text-align: center;
    margin-top: 37px;
}